- content_for(:title, t('pages.about'))

markdown:
  # About

  Shiavault was built with the mission of making Islamic books maximally accessible. Shiavault strives to serve
  as a central repository of books for Shia Islamic knowledge, with a focused goal of content aggregation and
  content quality.

  The vision of Shiavault is to leverage Islam's human capital by creating an open-source, collaborative
  project for any Muslim to contribute to. The differentiating factors of Shiavault compared to other existing
  organizations include:

  * **Minimalism** - existing organizations are doing too much and duplicating effort for already solved problems.
    Whether it be technical, such as duplicating Commenting capabilities rather than using Disqus, or content,
    by digitizing a book twice rather than reusing existing sources online, significant effort is being
    spent with minimal value being extracted. Additionally, each organization
    tends to inject certain biases, whether intentional or not, whether cultural or not, which tends to cloud
    the atmosphere for a person seeking to understand Islam neutrally. Instead, Shiavault lets Islam speak for
    itself through the works of scholars.
  * **Transparent** - to collaborate together, we must be first transparent with each other. Unlike other
    organizations, the entire content and site code is open-source and accessible to anyone interested. As such,
    if you wish to contribute, you can contribute as little as a single spelling correction, or add an entire
    feature to the website. If you disagree with Shiavault's vision, you can fork the code and create your own
    site. Shiavault strives for maximum transparency.
      * *However keep in mind that Shiavault does not own copyright of any content on the site. You will need the
      permission of the copyright holders yourself if you copy the content.*

  It must be understood that Shiavault is a content aggregator, thus significant appreciation goes towards
  organizations such as Al-Islam.org and Alhassanian.org that have created the content in the first place,
  and to the authors and publishers that have contributed their content.
  In the big picture, Shiavault is standing on the shoulder of giants and hoping to contribute back to the
  community by leveraging the technical savviness of its team.

  We sincerely hope the site helps you in your quest to understand Islam, and we hope you find the answers you
  are looking for.


