# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: dbdc261e907a345e3b508e4ebb4ea75cf1f4b278b666386b38d85886e4061cdcafa3f43d262a41ce83ee3fe2344cf13ecf2b077a7b13d4de10c461bdd4e7642e
  bitbucket_account:
  bitbucket_key:
  bitbucket_secret:
  region: us-east-1
  bucket: dinesh-library

test:
  secret_key_base: 10fe820387b370a55d372e1849c1b852313835f28601cb2c51d723c367c85d8204f607e058b0c0b9b69a2137725c23f9cd73b8c5df68338ec66cdca7d8be7101
  bitbucket_account:
  bitbucket_key:
  bitbucket_secret:
  region: us-east-1
  bucket: dinesh-library

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  bitbucket_account: <%= ENV["BITBUCKET_ACCOUNT"] %>
  bitbucket_key: <%= ENV["BITBUCKET_KEY"] %>
  bitbucket_secret: <%= ENV["BITBUCKET_SECRET"] %>
  region: <%= ENV["AWS_REGION"] || 'us-east-1' %>
  bucket: <%= ENV["S3_BUCKET"] || 'dinesh-library' %>